.container {
  display: flex;
  flex-direction: column;
  row-gap: 54px;

  padding-bottom: 48px;

  section {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    h2 {
      display: flex;
      align-items: center;
      column-gap: 12px;
  
      overflow: hidden;
      border-radius: 8px;
      background: var(--background-card);
      box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 4px 0px;

      span {
        padding: 8px 14px;
        background: var(--background-dark);
      }
    }
  }
}

.matches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  width: 100%;

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 18px;

    padding-bottom: 24px;
  }
}

.match {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    strong, p {
      font-size: 0.875rem;
    }

    p, div {
      width: 160px;
    }

    > strong {
      display: flex;
      align-items: center;
      column-gap: 6px;
    }

    div {
      display: flex;
      justify-content: flex-end;

      strong {
        font-family: var(--font-bold);
      }
    }

    @media(max-width: 768px) {
      strong, p {
        font-size: 0.75rem;
      }
    }
  }
}

