.matchs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  padding-bottom: 64px;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  border-radius: 4px;
  background: rgba(#421029, 0.2);
  box-shadow: rgb(0 0 0 / 12%) 1px 3px 6px 0px, rgb(0 0 0 / 14%) 0px 3px 6px;
}

.match__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 12px 32px;
  background: rgba(#421029, 0.4);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;

    span {
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    time {
      display: flex;
      align-items: center;
      column-gap: 8px;
      font-size: 1rem;
      color: rgba(222, 222, 222, 0.9);
    }
  }

}

.match__content {
  width: 100%;
  padding: 32px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.bet {
  display: flex;
  align-items: center;
  column-gap: 6px;
  padding: 0 24px;
  height: 100%;
  border-radius: 4px;
  background: var(--link);

  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Andika';
}