* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #79083E;
  --background-dark: #570A31;
  --background-card: rgba(#421029, 0.8);

  --primary: #FAF4E1;

  --link: #421029;

  --green: #2BCF61;
  --yellow: #FE9000;
  --blue: #3590F3;
  // --link: #B5092F;
}

body {
  color: var(--primary);
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
