* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #181829;
  --background-secondary: #222232;
  --background-tertiary: #2B2B3D;

  --text: #FFFFFF;
  --text-secondary: #65656B;
  --text-tertiary: #C4C4C4;

  --green: #2BCF61;
  --yellow: #FE9000;
  --blue: #3590F3;
  --link: #B5092F;
}

body {
  color: rgba(var(--link), 0.5);
  background: var(--background);
}

body, button, textarea, input {
  color: var(--text);
  font: 400 1rem 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
