.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  min-height: 100vh;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;

  width: 100%;
  padding: 6px 0;
  background: var(--link);

  font-weight: 600;
}

.layout__main {
  width: 100%;
  max-width: 1266px;
  margin: 32px auto;

  @media(max-width: 1400px) {
    padding: 0 24px;
  }

  @media(max-width: 900px) {
    padding: 0 16px;
  }
}

.layout__footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px 0 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  color: var(--secondary);

  svg {
    margin-left: 1px;
  }

  a {
    font-weight: 600;
  }
}