.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  min-height: 100vh;
}

.layout__main {
  width: 100%;
  max-width: 1266px;
  margin: 32px auto;

  @media(max-width: 1400px) {
    padding: 0 24px;
  }

  @media(max-width: 900px) {
    padding: 0 16px;
  }
}

.layout__footer {
  display: flex;
  padding: 32px 0 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  
  color: var(--secondary);

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1266px;
    margin: 0 auto;

    svg {
      margin-left: 1px;
    }

    strong {
      font-weight: 400;
    }

    a {
      font-weight: 600;
    }
  }
}