.layout__header {
  width: 100%;
  
  display: flex;
  justify-content: center;
  background: var(--background-dark);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.layout__headerContent {
  display: flex;
  align-items: center;

  padding: 24px 0;

  // background: gray;
  width: 100%;
  max-width: 1266px;

  nav {
    margin: 0 auto;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 64px;

    li {
      position: relative;
      padding: 0 12px;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        bottom: -47px;
        right: 0;
        left: 0;
        
        height: 3px;
        width: 0;
        margin: 0 auto;
        background: var(--link);

        transition: width 0.4s;
      }

      &:hover::after {
        width: 100%;
      }

      // &.active {
      //   color: var(--link);

      //   &::after {
      //     width: 100%;
      //   }
      // }
    }
  }
}

.signIn {
  width: 140px;
  height: 38px;
  border-radius: 8px;

  font-weight: 600;
  text-align: center;

  background: var(--link);
}