.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--white);

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--secondary);
  }

  .buttons {
    display: flex;
    column-gap: 12px;

    .share {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 4px;

      span {
        font-size: 0.875rem;
        margin-right: auto;
      }

      button {
        display: flex;
      }

      svg {
        width: 30px;
        height: auto;
        color: #410320;
      }
    }
  }

  .add__group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;

    padding: 8px 20px;
    border-radius: 6px;
    background: #410320;

    &:disabled {
      opacity: 0.4;
    }

    svg {
      width: 14px;
      height: auto;
    }
  }
}