.container__viewControl {
  display: flex;
  align-items: center;
  column-gap: 6px;

  padding: 2px 3px;
  border-radius: 6px;
  border: 1px solid var(--white);
  background: var(--background-dark);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 38px;
    height: 30px;
    border-radius: 4px;

    &[aria-selected="true"] {
      background: var(--white);
    }
  }
}